.bs-example{
	margin-left: 25px;
	margin-right: 25px;
}

.voffset-10  {
	margin-top: 10px;
}
.voffset-25  {
	margin-top: 25px;
}
.voffset-50  {
	margin-top: 50px;
}
.voffset-100  {
	margin-top: 100px;
}
