.bs-example{
	margin: 20px;
}
#map-canvas {
	width: 640px;
	height: 480px;
	margin: 0px;
	padding: 0px;
	right: 20px;
}

.voffset-10  {
	margin-top: 10px;
}
.voffset-25  {
	margin-top: 25px;
}
.voffset-50  {
	margin-top: 50px;
}
.voffset-100  {
	margin-top: 100px;
}